<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img id="img_filme" src="<%- IMGPATH + detailMovie.poster_path %>" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title mb-3"><%- detailMovie.original_title %></h5>

                <p class="card-text mb-3">
                    <strong>Assessment : </strong>
                    <apan id="avalicao"> <%- detailMovie.vote_average %> </apan>
                </p>

                <p class="card-text">
                    <strong>Language : </strong
                    ><span id="linguagem"> <%- detailMovie.original_language %> </span>
                </p>

                <p class="card-text">
                    <strong>Launch : </strong
                    ><span id="data"> <%- detailMovie.release_date %> </span>
                </p>

                <p class="card-text">
                    <strong>Description : </strong
                    ><span id="descricao"> <%- detailMovie.overview %> </span>
                </p>
            </div>
        </div>
    </div>
</div>